
@{
    ViewBag.Title = "MVVM_Kendo_UI_Template_Example";
    Layout = "~/Views/Shared/__Layout.cshtml";
}

@section styles{
    <style>
        table {
            border-collapse: collapse;
            margin: auto;
        }

        table, th, td {
            border: 1px solid black;
        }

        .textItalic {
            font-style: italic;
            color:red;
        }
    </style>
}


<div id="moviesContainer">
    <table>
        <thead>
            <tr>
                <td>Rank</td>
                <td>Rating</td>
                <td>Year</td>
                <td>Title</td>
                <td>Stafss</td>
            </tr>
        </thead>
        <tbody data-template="movieTemplate" data-bind="source: movies"></tbody>
    </table>
</div>

<script type="text/x-kendo template" id="movieTemplate">
    <tr>
        <td>#=rank#</td>
        <td>#=rating#</td>
        <td>
            #switch(year){
            case 1994:#
            <span>#=year# <sub>90's is awesome </sub></span>
            # break;#
            #default:#
            <span>#=year#</span>
            #break;#
            #}#
        </td>
        <td>#=title#</td>
        <td>
            <ul>
                #for(var i=0;i< staffs.length; i++){#
                #if(staffs[i] === "X"){#
                <li class="textItalic">#=staffs[i]#</li>
                #}else{#
                <li>#=staffs[i]#</li>
                #}#
                #}#
            </ul>
        </td>
    </tr>
</script>

@section script{

    <script>

        $(function () {

            var viewModel = kendo.observable({
                movies: new kendo.data.DataSource({
                    data: [
                        { 'rank': 1, 'rating': 9, 'year': 1994, 'title': 'Terminator', staffs: ['X', 'Y', 'Z'] },
                        { 'rank': 1, 'rating': 6, 'year': 2000, 'title': 'The God Father', staffs: ['X', 'Y', 'Z'] },
                        { 'rank': 1, 'rating': 5, 'year': 2000, 'title': 'Terminator 2', staffs: ['X', 'Y', 'Z'] },
                        { 'rank': 1, 'rating': 7, 'year': 2000, 'title': 'Terminator 3', staffs: ['X', 'Y', 'Z'] },
                        { 'rank': 1, 'rating': 8, 'year': 2000, 'title': 'Avengers The Movie', staffs: ['X', 'Y', 'Z'] }
                    ]
                })
            });

            var divOutput = $("#moviesContainer");

            kendo.bind(divOutput, viewModel);
        });

    </script>
}